<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Book the Flight</div>
      <div class="panel-body">

        <form [formGroup]="bookingForm">
          <p for="passenger">Passenger Name </p>
          <input type="text" id="passenger" formControlName="passengerName" />
          <p class="error-message"
            *ngIf="(bookingForm.controls.passengerName.touched||bookingForm.controls.passengerName.dirty)&&bookingForm.controls.passengerName.invalid">
            Field requierd</p>

            <p for="ticket">Number of Tickets</p>
          <input type="text" id="ticket" formControlName="noOfTickets" />
          <p class="error-message"
            *ngIf="(bookingForm.controls.noOfTickets.touched||bookingForm.controls.noOfTickets.dirty)&&bookingForm.controls.noOfTickets.invalid">
          Enter number of tickets greater than 0  
          </p>

            <p for="flight">Flight ID </p>
          <input type="text" id="flight" formControlName="flightId" />
          <p class="error-message"
            *ngIf="(bookingForm.controls.flightId.touched||bookingForm.controls.flightId.dirty)&&bookingForm.controls.flightId.invalid">
            Field requierd</p>

           
        </form>
        <button class="submit-button" (click)="book()">Book</button>
        <div *ngIf="errorMessage!=null">
          <span class="error error-message">{{errorMessage}}</span>
        </div>
        <div *ngIf="successMessage!=null">
          <span class="success">{{successMessage}}</span>
        </div>
      </div>
    </div>
  </div>
</div>